.svg-map-inner {
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  left: 50%;
  padding-top: 12px;
  position: relative;
  transform: translateX(-50%);
}

.path-map {
  fill: var(--color-sl-yellow);
  fill-opacity: 0.4;
  stroke: var(--color-sl-maroon);
}
