.input-text-search-text {
  padding: 12px;
  min-width: 400px;
  border: none;
  background: ghostwhite;
  border-radius: 12px;
  color: var(--color-sl-green);
  margin-bottom: 24px;
}

.input-text-search-text:focus {
  outline: none;
  color: var(--color-sl-orange);
}
