.input-text-search-text {
  padding: 12px;
  min-width: 400px;
  border: none;
  background: var(--color-gray-f8);
  border-radius: 12px;
  color: var(--color-sl-green);
  margin-bottom: 12px;
}

.input-text-search-text:focus {
  outline: none;
  color: var(--color-sl-orange);
}

.div-search-stats {
  margin-bottom: 24px;
  font-size: 12px;
}
