.div-article-box {
  background: var(--color-gray-fc);
  border: 1px solid lightgray;
  border-radius: 6px;
  display: inline-block;
  margin: 12px;
  padding: 12px;
  width: 300px;
  vertical-align: top;
}

.div-article-box .div-name {
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 6px;
}

.div-author {
  font-size: 9px;
  margin-bottom: 12px;
}

.div-details {
  font-size: 12px;
  margin-bottom: 36px;
}

.link-try-tool {
  background: white;
  border: 1px solid lightgray;
  border-radius: 6px;
  color: var(--color-sl-green);
  font-size: 12px;
  padding: 6px;
  text-decoration: none;
  cursor: pointer;
}


.button-try-tool:hover {
  color: var(--color-sl-orange);
  cursor: pointer;
}
