.img-icon {
  width: 16px;
  height: 16px;
}

.div-source {
  color: var(--color-sl-green);
  font-size: 9px;
}

.div-download-name {
  font-size: 15px;
  min-width: 400px;
}

.div-tags {
  margin-bottom: 12px;
}
