.div-profile {
  display: table-cell;
  padding: 20px;
  text-align: center;
  width: 140px;
}

.img-profile {
  border-radius: 140px;
  width: 140px;
  height: 140px;
  text-align: center;
}

.div-name {
  font-size: 9px;
  text-align: center;
}

.div-designation {
  font-size: 12px;
  text-align: center;
}
