body {
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  margin: auto;
  width: 70%;
}


h1, h2, h3 {
  font-weight: 100;
  color: gray;
}

.div-copyright {
  font-size: 8px;
  color: gray;
}

hr {
  color: #eee;
  border-width: 0.5px;
}

.div-mission {
  font-size: 48px;
  color:lightgray;
  padding: 48px;
}
