:root {
  --color-sl-maroon: #8d2029;
  --color-sl-orange: #ff5b00;
  --color-sl-yellow: #ffb700;
  --color-sl-yellow-light: #fff0ca;
  --color-sl-green: #005641;

  --color-gray-f8: #f8f8f8;
  --color-gray-fc: #fcfcfc;
  --color-gray-fd: #fdfdfd;
}

body {
  color: black;
  font-family: sans-serif, Arial, Helvetica;
  font-weight: 300;
  line-height: 1.4;
}

h1, h2, h3, p {
  font-weight: 300;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  line-height: 1.4;
}

.number {
  font-family: monospace;
}

div {
  line-height: 1.4;
}

hr {
  color: #eee;
  border-width: 0.5px;
}

strong {
  color: var(--color-sl-maroon);
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--color-sl-green);
}

a:hover {
  color: var(--color-sl-orange);
}

.div-app {

}

.div-body {
  min-height: calc(100vh - 100px);
}

.div-center {
  top: 0;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.div-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  padding: 36px;
}

.div-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  padding: 36px;
}

.div-footer {
}


.div-copyright {
  margin-top: 24px;
  text-align: center;
  margin-bottom: 24px;
}
