:root {
  --color-sl-maroon: #8d2029;
  --color-sl-orange: #ff5b00;
  --color-sl-yellow: #ffb700;
  --color-sl-green: #005641;
}

body {
  color: gray;
  font-family: "Helvetica Neue";
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


h1, h2, h3, p {
  font-weight: 200;
  color: gray;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}

hr {
  color: #eee;
  border-width: 0.5px;
}

.div-app-inner {
  margin-top: 48px;
  margin-bottom: 120px;
  min-height: 200px;
}

.div-copyright {
  font-size: 12px;
  text-align: center;
  opacity: 0.5;
}

strong {
  color: green;
  font-weight: 300;
  padding-right: 12px;
}
